.App {
  text-align: center;
}
.movie-container
{
  width: 340px;
}
.movie-poster
{
  width: 340px;height:500px ;object-fit: cover;
}
.movie-spec
{
  display: flex;
  align-items: center;justify-content: space-between;
}
.movie-name
{
  font-size: 24px;margin: 0;
}
.movie-summary
{
  margin-top: 0%;
}
.movie-list
{
  display: flex;
 flex-wrap: wrap;justify-content: space-around;gap: 10px;
 margin-top: 20px;
}
.movie-end
{
  display: flex;align-items: center;
  justify-content: space-around;
}
